[submodule "emacs-win"]
	path = emacs-win
	url = https://github.com/jkitchin/emacs-win
[submodule "elpa"]
	path = elpa
	url = https://github.com/jkitchin/scimax-win-elpa
[submodule "org-mime"]
	path = org-mime
	url = https://github.com/jkitchin/org-mime.git
	branch = file-eqns