[submodule "org-ref"]
	path = org-ref
	url = https://github.com/jkitchin/org-ref.git
[submodule "ob-ipython"]
	path = ob-ipython
	url = https://github.com/jkitchin/ob-ipython.git
[submodule "techela"]
	path = techela
	url = https://github.com/jkitchin/techela
