# adapted from https://github.com/purcell/package-lint/blob/master/.github/workflows/test.yml
name: scimax

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest    
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 27.2
          - 28.2
          - 29.1
          - snapshot

    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - name: Install aspell
      run: sudo apt-get install -y aspell
      
    - uses: actions/checkout@v2
    - name: Run tests
      run: |
        git clone https://github.com/cask/cask ~/.cask
        PATH=$HOME/.cask/bin:$PATH cask install
        PATH=$HOME/.cask/bin:$PATH make test
        emacs -batch -nw -l init.el
        
